<div class="col-md-7 col-lg-8 d-flex justify-content-center align-items-center" style="margin: 0 auto; margin-top: 80px;">
  <form [formGroup]="formularioPaciente" (ngSubmit)="registroPaciente()">
    <div class="row">
      <!-- Primer Fila -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ingrese su nombre" formControlName="nombre">
          <div class="text-danger" *ngIf="formularioPaciente.controls['nombre'].errors && formularioPaciente.controls['nombre'].touched">
            <label *ngIf="formularioPaciente.controls['nombre'].errors?.['required']">Error, ingrese su nombre.</label>
            <label *ngIf="formularioPaciente.controls['nombre'].errors?.['pattern']">Error, solo se permite letras.</label>
          </div>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Ingrese su apellido" formControlName="apellido">
          <mat-error *ngIf="formularioPaciente.controls['apellido'].errors?.['required'] && formularioPaciente.controls['apellido'].touched">
            Error, ingrese su apellido.
          </mat-error>
          <mat-error *ngIf="formularioPaciente.controls['apellido'].errors?.['pattern'] && formularioPaciente.controls['apellido'].touched">
            Error, solo se permite letras.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Segunda Fila -->
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Edad</mat-label>
          <input matInput type="number" placeholder="Ingrese su edad" formControlName="edad" step="1">
          <mat-error *ngIf="formularioPaciente.controls['edad'].errors?.['required'] && formularioPaciente.controls['edad'].touched">
            Error, ingrese su edad.
          </mat-error>
          <mat-error *ngIf="formularioPaciente.controls['edad'].errors?.['min'] && formularioPaciente.controls['edad'].touched">
            Debe ser mayor de 18 años para registrarse.
          </mat-error>
          <mat-error *ngIf="formularioPaciente.controls['edad'].errors?.['pattern'] && formularioPaciente.controls['edad'].touched">
            Solo se permite números enteros.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>DNI</mat-label>
          <input matInput placeholder="Ingrese su DNI" formControlName="dni">
          <mat-error *ngIf="formularioPaciente.controls['dni'].errors?.['required'] && formularioPaciente.controls['dni'].touched">
            Error, ingrese su DNI.
          </mat-error>
          <mat-error *ngIf="formularioPaciente.controls['dni'].errors?.['pattern'] && formularioPaciente.controls['dni'].touched">
            Error, el DNI debe ser de 8 números.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Obra Social</mat-label>
          <input matInput placeholder="Ingrese su obra social" formControlName="obraSocial">
          <mat-error *ngIf="formularioPaciente.controls['obraSocial'].errors?.['required'] && formularioPaciente.controls['obraSocial'].touched">
            Error, ingrese su obra social.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Tercera Fila -->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Ingrese su email" formControlName="email">
          <mat-error *ngIf="formularioPaciente.controls['email'].errors?.['required'] && formularioPaciente.controls['email'].touched">
            Error, ingrese el email.
          </mat-error>
          <mat-error *ngIf="formularioPaciente.controls['email'].errors?.['email'] && formularioPaciente.controls['email'].touched">
            Error, ingrese un email válido.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Ingrese su contraseña" formControlName="password">
          <mat-error *ngIf="formularioPaciente.controls['password'].errors?.['required'] && formularioPaciente.controls['password'].touched">
            Error, ingrese la contraseña.
          </mat-error>
          <mat-error *ngIf="formularioPaciente.controls['password'].errors?.['minlength'] && formularioPaciente.controls['password'].touched">
            Ingresar como mínimo 5 caracteres.
          </mat-error>
          <mat-error *ngIf="formularioPaciente.controls['password'].errors?.['maxlength'] && formularioPaciente.controls['password'].touched">
            Solo se permite hasta 10 caracteres.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Cuarta Fila - Imagenes de Perfil -->
    <div class="row">
      <div class="col-8 text-start">
        <label for="imagen_a" class="form-label">Imagen de perfil 1</label>
        <input formControlName="perfil1" class="form-control form-control-sm" id="imagen_a" type="file" (change)="imagenPerfil1($event)">
        <mat-error class="image-error" *ngIf="campoInvalido('perfil1')">
            Error, se requiere seleccionar una foto de perfil.
         </mat-error>
      </div>
      <div class="col-3">
        <img *ngIf="urlImagenPerfil1" [src]="urlImagenPerfil1" alt="Foto de perfil" class="img-thumbnail">
      </div>
    </div>
    <div class="row">
      <div class="col-8 text-start">
        <label for="imagen_b" class="form-label">Imagen de perfil 2</label>
        <input formControlName="perfil2" class="form-control form-control-sm" id="imagen_b" type="file" (change)="imagenPerfil2($event)">
        <mat-error class="image-error" *ngIf="campoInvalido('perfil2')">
            Error, se requiere seleccionar una foto de perfil.
         </mat-error>
      </div>
      <div class="col-3">
        <img *ngIf="urlImagenPerfil2" [src]="urlImagenPerfil2" alt="Foto de perfil" class="img-thumbnail">
      </div>
    </div>

    <!-- Botón de Registro -->
    <div class="row mt-3">
      <div class="col-12">
        <button mat-raised-button color="primary" type="submit" [disabled]="formularioPaciente.invalid">
          Registrarse
        </button>
      </div>
    </div>
  </form>
</div>

