<form [formGroup]="formularioPaciente" (ngSubmit)="registroPaciente">
   <div class="input-box form-floating mb-3">
      <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese su nombre" formControlName="nombre"/>
      <i class="fa-regular fa-user icon"></i>
      <label for="inputNombre">Nombre</label>
   </div>
   <div class="validators" *ngIf="formularioPaciente.controls['nombre'].errors && formularioPaciente.controls['nombre'].touched">
      <div *ngIf="formularioPaciente.controls['nombre'].errors['required']">Error, ingrese su nombre.</div>
      <div *ngIf="formularioPaciente.controls['nombre'].errors['pattern']">Error, solo se permite letras.</div>
   </div>
   <div class="input-box form-floating mb-3">
      <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese su apellido" formControlName="apellido"/>
      <i class="fa-regular fa-user icon"></i>
      <label for="inputApellido">Apellido</label>
   </div>
   <div class="col-md-6">
      <label for="edad" class="form-label">Edad</label>
      <input type="number" class="form-control" id="edad" formControlName="edad">
      <div class="validators" *ngIf="formularioPaciente.controls['edad'].errors && formularioPaciente.controls['edad'].touched">
         <label *ngIf="formularioPaciente.controls['edad'].errors['required']">Error, ingrese su edad.</label>
         <label *ngIf="formularioPaciente.controls['edad'].errors['min']">Debe ser mayor de 18 años para registrarse.</label>
      </div>
   </div>
   <div class="validators" *ngIf="formularioPaciente.controls['apellido'].errors && formularioPaciente.controls['apellido'].touched">
      <div *ngIf="formularioPaciente.controls['apellido'].errors['required']">Error, ingrese su apellido.</div>
      <div *ngIf="formularioPaciente.controls['apellido'].errors['pattern']">Error, solo se permite letras.</div>
   </div>
   <div class="input-box">
      <label for="dni" class="form-label">DNI</label>
      <input type="text" class="form-control" id="dni" formControlName="dni"/>
   </div>
   <div class="validators" *ngIf="formularioPaciente.controls['dni'].errors && formularioPaciente.controls['dni'].touched">
      <label *ngIf="formularioPaciente.controls['dni'].errors['required']">Error, ingrese su DNI.</label>
      <label *ngIf="formularioPaciente.controls['dni'].errors['pattern']">Error, el DNI debe ser de 8 números.</label>
   </div>
   <div class="input-box form-floating mb-3">
      <input type="text" class="form-control" id="inputObraSocial" placeholder="Ingrese su obra social" formControlName="obraSocial"/>
      <i class="fa-regular fa-user icon"></i>
      <label for="inputObraSocial">Obra Social</label>
   </div>
   <div class="validators" *ngIf="formularioPaciente.controls['obraSocial'].errors && formularioPaciente.controls['obraSocial'].touched">
      <div *ngIf="formularioPaciente.controls['obraSocial'].errors['required']">Error, ingrese su obra social.</div>
      <div *ngIf="formularioPaciente.controls['obraSocial'].errors['pattern']">Error, solo se permite letras.</div>
   </div>
   <div class="input-box form-floating mb-3">
      <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese su email" formControlName="email" autocomplete="email"/>
      <i class="fa-regular fa-envelope icon"></i>
      <label for="inputEmail">Email</label>
   </div>
   <div class="validators" *ngIf="formularioPaciente.controls['email'].errors && formularioPaciente.controls['email'].touched">
      <div *ngIf="formularioPaciente.controls['email'].errors['required']">Error, ingrese el email.</div>
      <div *ngIf="formularioPaciente.controls['email'].errors['pattern']">Error, ingrese un email válido.</div>
   </div>
   <div class="input-box form-floating mb-3">
   <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Ingrese su contraseña" autocomplete="password"/>
      <i class="fa-solid fa-lock icon"></i>
      <label for="inputPassword">Password</label>
   </div>
   <div class="validators" *ngIf="formularioPaciente.controls['password'].errors && formularioPaciente.controls['password'].touched">
      <div *ngIf="formularioPaciente.controls['password'].errors['required']">Error, ingrese la contraseña.</div>
      <div *ngIf="formularioPaciente.controls['password'].errors['minlength']">Ingresar como minimo 5 caracteres</div>
      <div *ngIf="formularioPaciente.controls['password'].errors['maxlength']">Solo se permite hasta 10 caracteres.</div>
   </div>
   <div class="row mb-2">
      <div class="col-8 text-start">
        <label for="imagen_a" class="form-label">Imágen de perfil 1</label>
        <input class="form-control form-control-sm" id="imagen_a" type="file" (change)="imagenPerfil1($event)" />
      </div>
      <div class="col-3">
        <img *ngIf="urlImagenPerfil1" [src]="urlImagenPerfil1" alt="Foto de perfil">
      </div>
  </div>
  <div class="row mb-2">
      <div class="col-8 text-start">
         <label for="imagen_b" class="form-label">Imágen de perfil 2</label>
         <input class="form-control form-control-sm" id="imagen_b" type="file" (change)="imagenPerfil2($event)" />
       </div>
      <div class="col-3">
         <img *ngIf="urlImagenPerfil2" [src]="urlImagenPerfil2" alt="Foto de perfil">
      </div>
  </div>
   <button type="submit" class="btn-registro" [disabled]="formularioPaciente.invalid" (click)="registroPaciente()">Registrarse</button>
   {{formularioPaciente.value | json}}
</form>
