<mat-dialog-content class="content-texto">
  <h3 class="m-4">Elija el perfil de usuario para registrarse</h3>
</mat-dialog-content>
<mat-dialog-actions align="end" class="row d-flex align-items-center justify-content-center">
  <button mat-icon-button class="btn-round" (click)="selectUser('especialista')" title="Especialista">
    <img src="../../../assets/1.png" alt="Foto de especialista">
  </button>
  <button mat-icon-button class="btn-round" (click)="selectUser('paciente')" title="Paciente">
    <img src="../../../assets/2.png" alt="Foto de paciente">
  </button>
  <p class="mt-4">¿Ya tienes una cuenta? <button mat-button>Iniciar Sesión</button></p>
</mat-dialog-actions>


