<div class="col-md-7 col-lg-8 d-flex justify-content-center align-items-center" style="margin: 0 auto; margin-top: 80px; background-color: azure;">
  <form [formGroup]="formularioUsuario" (submit)="registroUsuario()" class="example-form">
    <!-- Primer Fila -->
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre" placeholder="Ingrese su nombre">
                @if (nombre.hasError('pattern') && !nombre.hasError('required')) {
                <mat-error>Error, solo se permite letras.</mat-error>
                }
                @if (nombre.hasError('required')) {
                <mat-error>Error, ingrese su nombre.</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="apellido" placeholder="Ingrese su apellido">
             @if (apellido.hasError('pattern') && !apellido.hasError('required')) {
              <mat-error>Error, solo se permite letras.</mat-error>
              }
              @if (apellido.hasError('required')) {
              <mat-error>Error, ingrese su apellido.</mat-error>
              }
          </mat-form-field>
      </div> 
    </div>

    <!-- Segunda Fila -->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Edad</mat-label>
          <input matInput type="number" placeholder="Ingrese su edad" formControlName="edad">
          @if (edad.hasError('pattern') && !edad.hasError('required')) {
          <mat-error>Error, solo se permite números enteros.</mat-error>
          }
          @if (edad.hasError('required')) {
          <mat-error>Error, ingrese su edad.</mat-error>
          }
          @if (edad.hasError('min')){
            <mat-error>Debe ser mayor de 18 años para registrarse.</mat-error>
          }
          @if (edad.hasError('max')){
            <mat-error>Debe ser menor de 90 años para registrarse.</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>DNI</mat-label>
          <input matInput placeholder="Ingrese su DNI" formControlName="dni">
          @if (dni.hasError('required')) {
          <mat-error>Error, ingrese su dni.</mat-error>
          }
          @if (dni.hasError('pattern') && !dni.hasError('required')) {
          <mat-error>Error, el DNI debe ser de 8 números.</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <!-- Tercera Fila -->
    <div class="row">
      <ng-container *ngIf="usuarioElegido == 'paciente'">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Obra Social</mat-label>
            <input matInput type="text" formControlName="obraSocial" placeholder="Ingrese su obra social">
            @if (obraSocial.hasError('pattern') && !obraSocial.hasError('required')) {
            <mat-error>Error, solo se permite letras.</mat-error>
            }
            @if (obraSocial.hasError('required')) {
            <mat-error>Error, ingrese su obra social.</mat-error>
            }
          </mat-form-field>
        </div>
      </ng-container>
    
      <!-- <ng-container *ngIf="usuarioElegido === 'especialista'">
        <div class="col-md-4">
          <label class="text-muted" for="especialidad">Especialidad</label>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Otra Especialidad</mat-label>
            <input matInput placeholder="Escriba otra especialidad">
          </mat-form-field>
        </div>
      </ng-container>-->
    </div> 

    <!-- Cuarta Fila -->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Ingrese su email" formControlName="email">
          @if (email.hasError('pattern') && !email.hasError('required')) {
          <mat-error>Error, ingrese un email válido.</mat-error>
          }
          @if (email.hasError('required')) {
          <mat-error>Error, ingrese su email.</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Ingrese su contraseña" formControlName="password">
          @if (password.hasError('required')) {
          <mat-error>Error, ingrese la contraseña.</mat-error>
          }
          @if (password.hasError('minlength')){
            <mat-error>Ingresar como mínimo 5 caracteres.</mat-error>
          }
          @if (password.hasError('maxlength')){
            <mat-error>Solo se permite hasta 10 caracteres.</mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <!-- Cuarta Fila - Imagen de Perfil 1 -->
    <div class="row">
      <div class="col-8 text-start">
        <label for="imagen_perfil1" class="form-label">Imagen de perfil 1</label>
        <input formControlName="perfil1" class="form-control form-control-sm" id="imagen_perfil1" type="file" (change)="imagenPerfil1($event)">
        <mat-error class="image-error" *ngIf="campoInvalido('perfil1')">
            Error, se requiere seleccionar una foto de perfil.
         </mat-error>
      </div>
      <div class="col-3">
        <img *ngIf="urlImagenPerfil1" [src]="urlImagenPerfil1" alt="Foto de perfil" class="img-thumbnail" height="70px">
      </div>
    </div>

    <!-- Quinta Fila - Imagene de Perfil 2 -->
      <ng-container *ngIf="usuarioElegido == 'paciente'">
        <div class="row">
          <div class="col-8 text-start">
            <label for="imagen_perfil2" class="form-label">Imagen de perfil 2</label>
            <input formControlName="perfil2" class="form-control form-control-sm" id="imagen_perfil2" type="file" (change)="imagenPerfil2($event)">
            <mat-error class="image-error" *ngIf="campoInvalido('perfil2')">
              Error, se requiere seleccionar una foto de perfil.
            </mat-error>
          </div>
          <div class="col-3">
            <img *ngIf="urlImagenPerfil2" [src]="urlImagenPerfil2" alt="Foto de perfil" class="img-thumbnail" height="70px">
          </div>
        </div>
      </ng-container>

    <!-- Botón de Registro -->
    <div class="row mt-3">
      <div class="col-12">
        <button mat-raised-button color="primary" type="submit" [disabled]="formularioUsuario.invalid">
          Registrarse
        </button>
      </div>
    </div> 
  </form>

  <!-- Spinner
  <div class="overlay" *ngIf="spinner">
    <div class="heartbeatloader">
      <svg class="svgdraw" width="100%" height="100%" viewBox="0 0 150 400" xmlns="http://www.w3.org/2000/svg">
        <path class="path" d="M 0 200 l 40 0 l 5 -40 l 5 40 l 10 0 l 5 15 l 10 -140 l 10 220 l 5 -95 l 10 0 l 5 20 l 5 -20 l 30 0"
        fill="transparent" stroke-width="4" stroke="black"></path>
      </svg>
    <div class="innercircle"></div>
  <div class="outercircle"></div> -->

</div>

